.mainPage{   
    width: 100vw;
   
}
.nav{
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100vw;
    transition: height 1s;
    z-index: 3;
     box-shadow: 0 0 10px 5px rgba(124, 124, 124, 0.082);
}
@keyframes anime {
  0%{
height: 0;
  }
  100%{
    height:80px ;
  }
}
.nav .logo{
    height: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
   
}
.nav img{ 
    height: 160px;
    
}
.search{
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.5;
    width: 15vh;
    overflow: hidden;
    
}
.search input{
    width: inherit;
    height: 35px;
    font-size: 19px;
    border: none;
    background: none;
    flex: 1;
    outline: none;
    padding-left:5px;
    color: #202e27;
}
.search span{
    background-color: var(--primary-color);
    height: 35px;
    padding: 5px;
    color: var(--white);
    font-weight: 500;
}

.header_options ul {
    position: relative;
    display: flex;
    font-size: 19px;
    font-weight: 400;
    height: 80px;
    align-items: center;
   
}
.header_options ul Link{
  
   height: inherit;
}

.header_options ul li{ 
    color: #5C705F;
    margin-left: 10px;
    padding: 2px;
    font-weight: 500;
    font-size: 16px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 2px;
    
    
}
.header_options ul li:hover{
    color: var(--primary-color);
    background-color: #e7e7e75e;
}
.other_options{
    display: flex;
    align-items:center;
    justify-content: flex-end;
}
.other_options .btn{
    height: 40px;
    width: 80px;
    margin-right:20px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 16px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: 500ms;
}
.other_options .btn:hover{
    color: var(--primary-color);
    background-color: white;
    border: 1px solid var(--primary-color);
}
.login:hover{
    cursor: pointer;
    color: var(--primary-color);
    

}

.get_started{
    background-color: var(--primary-color);
    height:80px ;
    width: 180px;
    clip-path: polygon( 0% 100%, 40% 0%, 100% 0%, 100% 100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 20px;
    color: var(--white);
}
.menu{
    margin-right: 30px;
    display: none;
}
.menu-icon{
    font-size:30px;
    
}
.cart{
    background-color: rgb(255, 255, 255);
    position: relative; 
    height: fit-content;
}
.cart span{
    position: absolute;
    top:5%;
    background-color: var(--primary-color);
    color: white;
    font-size: 12px;
    height: 80%;
    width: fit-content;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
    transition: 500ms;
    z-index: -1;
    

}

.active{
    color: var(--primary-color);
    background:rgba(1, 150, 137, 0.322)
    
    
}

@media only screen and (max-width: 1060px){
    .get_started{
        display: none;
    }
    .other_options{
        margin-right: 25px;
    }
}

@media only screen and (max-width: 950px){
    .menu{
        display:block;
        cursor: pointer;
    }
    .header_options {
        display: none;
    }
    .active-header {
        position:absolute ;
        right: 100%;
        display: block;
        top: 100%;
        background-color: rgba(255, 255, 255, 0.911);
        width: 100%;
        transition: 500ms;
    }
    .active-header ul{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-bottom: 20px;
    }
    .active-header ul:nth-child("even"){
        background-color: red;
    }
    .active-header ul li{
        height: 55px;
        padding: 10px 0;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
 
}
@media only screen and (max-width: 700px){
    .search{
        position: absolute;
        top: 100%;
        width: 300px;
        background-color:rgba(255, 255, 255, 0.514);
    }
}