.promotion {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin-bottom: 10rem; 
}
.promotion img{
    height: 400px;
    mask-image: linear-gradient(to left, black,rgb(0, 0, 0), transparent);
    
}
.promotion .description{
    font-size: 35px;
    max-width: 500px;
    padding-left: 30px;
    font-weight: 700;
    text-align: center;
   
}
.promotion .enrolle{
    border-radius: 8px;
    height: 55px;
    width: 170px;
    background-color: var(--primary-color);
    border: none;
    font-size: 20px;
    color: var(--white);
    margin-top: 20px;
    transition:background 200ms;
}

.btn:hover, .enrolle:hover{
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.description div span{
    color:var(--primary-color);
}
.description div div{
    font-size: 20px;
    color: gray;
}
