.mainPage{
  position: relative;
}
.promotion {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin-bottom: 10rem; 
}
.promotion img{
    height: 400px;
    mask-image: linear-gradient(to left, black,rgb(0, 0, 0), transparent);
    
}
.promotion .description{
    font-size: 35px;
    max-width: 500px;
    padding-left: 30px;
    font-weight: 700;
    text-align: center;
   
}
.promotion .enrolle{
    border-radius: 8px;
    height: 55px;
    width: 170px;
    background-color: var(--primary-color);
    border: none;
    font-size: 20px;
    color: var(--white);
    margin-top: 20px;
    transition:background 200ms;
}

.btn:hover, .enrolle:hover{
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.description div span{
    color:var(--primary-color);
}
.description div div{
    font-size: 20px;
    color: gray;
}

/* INTRO */


@keyframes disapear {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.intro .image img{ 
  opacity: 0.7;
  height: 150px;
  animation: intro 10s linear forwards;
}
@keyframes intro {
 0%{
  rotate: 0deg;
  transform:perspective(700px) translateZ(0px);
 }
50%{
  
}
  100%{
    rotate: 360deg;
    transform:perspective(0px) translateZ(10px);
   
  }
}
.intro{
  
  animation: remove 5s forwards;
}
@keyframes remove {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    
  }
}




@media only screen and (max-width: 950px){
    .popular_disc .courses{
      width: 300px;
      margin-right: 10px;
    }
   
  
  @media only screen and (max-width: 900px){
    .promotion img{
     height: 300px;
      
  }
  .promotion .description{
     font-size: 30px;
     
  } 
 
  }
}

@media only screen and (max-width: 680px){
  .promotion{
    padding-top: 40px;
  }
  .promotion img{
   display: none;
    
}
.promotion .description{
   font-size: 35px;
   
}
 .quations{
      width: 90%;
    }
}