.footer{
    height: 400px;
    width: 100vw;
    background-color: var(--primary-color);
    font-size: 60PX;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }